lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml
*.idea
*.cmd

pids
logs
results

npm-debug.log
node_modules
bower_components
public/lib
node
src/main/webapp/lib
RemoteSystemsTempFiles/
target/
.metadata
.classpath
.settings
.project
.externalToolBuilders/
.mvn
mvnw
